<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'Companies','company', class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'About', static_path('about'), class: 'nav-link' %></li>
